.search-page {
  padding-bottom: 2rem;

  .search-heading {
    margin-top: 0.5rem;

    p {
      font-size: 1.1rem;
    }
  }

  .filter-menu {
    padding: 1rem;
    background-color: $color-white;

    a:link,
    a:visited {
      display: block;
      color: $color-black;
      text-decoration: none;

      &:not(:last-of-type) {
        margin-bottom: 1.2rem;
      }

      &.nuxt-link-active {
        // font-size: 1.1rem;
        color: $color-primary;
        // font-weight: 600;
      }

      &:hover {
        // font-size: 1.1rem;
        color: $color-primary;
        // font-weight: 600;
      }
    }
  }

  .all-results {

    .result {

      // padding: 1.5rem 1.5rem;
      padding-bottom: 1rem;
      background-color: $color-white;
    //   margin-top: 2rem;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1.5rem 1.6rem 0;
        // padding-left: 2rem;
        // padding-right: 2rem;

        h2 {
          margin-bottom: 0;
          font-size: 1.65rem;
          font-weight: 600;
          letter-spacing: 1px;

          span {
              font-size: 1rem;
              color: $color-grey-dark;
              letter-spacing: .5px;
              margin-left: 1rem;
          }
        }

        a:link,
        a:visited {
          font-size: 1.2rem;
          color: $color-primary;
          text-decoration: underline;
          letter-spacing: 0.5px;
        }
      }

      .products {
        padding: 0 0.8rem;
        position: relative;

        .swiper-container {
          position: unset;
        }

        .product, .restaurant, .company, .profession-card, .user-card {
          padding: 1rem 0.5rem;
        }
      }

      &:not(:last-of-type) {
          margin-bottom: 2rem;
      }
    }
  }

  .single-result {
    padding: 1rem;
    padding-top: 0;
    background-color: $color-white;

    .product, .profession-card, .user-card, .company {
      margin-top: 1rem;
    }
  }

  .module-results {
    padding: 1rem;
    background-color: $color-white;
  }

}
