.auction {

    a:link,
    a:visited {
        text-decoration: none;
        color: $color-black;

        .card {
            border: none;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.13);
            border-radius: 8px;
            transition: all .3s;
    
            .card-hover {
    
                .card-img {
                    overflow: hidden;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
    
                    img {
                        transition: all .3s;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        height: 230px;
                    }
                }
    
                &:hover {
    
                    .card-img {
    
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
    
                .card-body {
                    padding: 1rem 1.25rem 1rem;
    
                    .card-head {
    
                        h5 {
                            margin-bottom: 0;
                            font-size: 1.2rem;
                        }
                    }
    
                    .price {
                        margin-top: .5rem;
    
                        .text {
                            color: #696969;
                            font-size: .9rem;
                        }
    
                        .amount {
                            color: $color-primary;
                            font-weight: 600;
                        }
                    }
    
                    .info {
                        display: flex;
                        align-items: center;
                        font-size: .75rem;
                        font-weight: 600;
                        margin-top: .75rem;
    
                        .bid {
                            padding: .3rem .5rem;
                            background-color: rgba($color-secondary, .1);
                            color: $color-secondary;
                            border-radius: 4px;
                        }
    
                        .left {
                            padding: .3rem .5rem;
                            background-color: rgba(#FF0000, .1);
                            color: #FF0000;
                            border-radius: 4px;
                            margin-right: .5rem;
                        }
                    }
    
                }
            }
    
            .actions {
                // font-size: rem;
    
                .add-cart-btn {
                    padding: .65rem 0;
                    font-size: 1.1rem;
                    font-weight: 600;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    background-color: $color-secondary;
                    color: $color-white;
                    border-bottom-right-radius: 7px;
                    border-bottom-left-radius: 7px;
    
                    img {
                        height: 1.1rem;
                    }
    
                    // &:hover {
                    //     background-color: $color-primary-dark;
                    // }
    
                }
    
            }
    
        }
    }
}