// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$color-primary: #1FAE93;
$color-primary-dark: #1A9F86;
// $color-primary-dark-1 : #1A9F86;

$color-secondary: #16135A;
$color-secondary-light: #0921EE;

$color-third: #FFD506;

$color-gold: #D4AF37; // VIP Tag on Profile

$color-night: #2E2E2E;
$color-night-1: #2c2c2c;

$color-grey-light: #F9F9F9; // Background
$color-grey-light-1: #EDEDED;
$color-grey-light-2: #E8EBEE; // Sub Header
$color-grey-light-3: #F5F5F5;

$color-grey-dark: #656363;

$color-danger: #FD5353;

$color-white: #FFF;
$color-black: #000;

//outsourced
$color-night-2: #242424;
$color-night-3: #242424;
$color-grey-light-5:#7d7d7d ; //label color
$color-grey-light-4:#F7F7F7 ;
$color-grey-dark-border:#dedede;
$color-grey-dark-6: #b4b4b4;  //wishlist color and label color
$color-grey-dark-7:#a7a7a7  ;   //reverstion-color
$color-grey-dark-8:#e5e5e5;   //divider color
$color-grey-dark-9:#EFEFEF;
$color-grey-dark-10:#8D8D8D;   //label for login pages
$color-red:rgb(255, 83, 83);
$facebook-button-color:#475993;
$google-button-color:#4285F4;

$color-secondary-opacity-1:rgba(22, 19, 90, 0.1);
$color-primary-opacity-1: rgba(31, 174, 147, 0.1);
$color-red-opacity-1:rgba(255, 0, 0,0.1);
$color-red-2:#FF0000;

